@CHARSET "UTF-8";
#productAdditionalImages{margin-right:5px;}
/*products review*/	
.navProductsPreviewWrapper{position:relative;height:140px;overflow:hidden;width:960px;margin:0 auto 0 auto;}	
#products_preview_left{background:url("../images/jiantou-left.png") no-repeat 0 0;width:15px;height:20px;margin-top:60px;cursor:pointer;}
#products_preview_right{background:url("../images/jiantou-right.png") no-repeat 0 0;width:15px;height:20px;margin-top:60px;cursor:pointer;}		
#products_preview_left:hover{background-position:-45px 0;}
#products_preview_right:hover{background-position:-45px 0;}
.products_preview_item{float:left;padding:2px;margin:0 4px 0 3px;width:80px;height:132px;border:1px solid #999;overflow:hidden;}
.cur_product{border:1px solid #cc0000;}	
.products_preview_item_place_hold{width:56px;height:132px;float:left;}	
.products_preivew_content_wrapper{width:929px;height:140px;float:left;overflow:hidden;}
#products_preview_containner{width:20000px;height:170px;}
/*product info*/
#product_info_images{width:460px;float:left;}	
#product_info_detail{width:365px;float:left;}
#additionalImagesUp{background:url("../images/arrow.png") no-repeat 0 0;width:74px;height:20px;text-indent:-9999em;}
#additionalImagesDown{background:url("../images/arrow.png") no-repeat 0 -65px;width:74px;height:20px;text-indent:-9999em;}			
.additionalImages{border:1px solid #fff;}
.additionalImages.thumbnail_selected{border:1px solid #cc0000;}
#productPrices{color:#900;font-size:1.5em;font-weight: bold;}
.addToCartQty{margin:5px;}
.multiLabelMenu-concent{background:#F1F1F1;}	
.multiLabelMenu .tab_selected{background:#F1F1F1;border-bottom: 1px solid #F1F1F1;}
#productDescription .label{width:200px;display:inline-block;}			
/*Multiple Label Menu Style*/
.multiLabelMenu .multiLabelMenu-nav-tab{float:left;padding:10px 5px 10px 5px;border:1px solid #000;margin-right:5px;cursor:pointer;}
.multiLabelMenu .multiLabelMenu-nav{margin:0;padding;0;}
.multiLabelMenu .tab_selected{border-bottom:1px solid #fff;z-index:2;position:relative;}
.multiLabelMenu .multiLabelMenu-concent{clear:left;border:1px solid #000;margin:0;padding:10px 5px 10px 5px;position:relative;top:-1px;display:none;}
.multiLabelMenu .content_selected{display:block;}