@CHARSET "UTF-8";
#navCatTabChildren5{left:-97px;}
.noscript{
border: 1px solid #cfcfcf;
border-width: 0 0 1px;
background: #ffff90;
font-size: 12px;
line-height: 1.25;
text-align: center;
color: #2f2f2f;
}